DB_HOST=db # db for docker / localhost for execution without docker
DB_PORT=3306
DB_NAME=portfolio_db
DB_USER=root
DB_PASSWORD='your root pass'
MYSQL_ROOT_PASSWORD='your root pass'
UPLOAD_DIR=/absolute/path/to/project-media/uploads/project-covers